<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/index.js" defer></script>
    <title>API 서버 개발 연습</title>
</head>
<body>
    <input type="text" id="number">
    <span id="result">0</span>
    <div>
    <button id="get-btn">조회</button>
    <button id="add-btn">더하기</button>
    <button id="put-btn">수정</button>
    <button id="delete-btn">초기화</button>
    </div>
</body>
</html>